<!DOCTYPE html>

<!--copied tmeplate from checkers game-->
<html>

<head>
<title>Lounge - Sew Together</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

<!-- Load style sheets -->
<%= stylesheet_link_tag :lounge %>

<!-- Load any supplemental Javascript libraries here -->
<% content_for :head do %>

<% end %>

</head>

<body>
<%= render 'nav_bar' %>
<h1 id="title">Lounge</h1>
<div id="subtitle">The lounge is a place where you can hang out with your friends and meet new ones as you work on your sewing projects!</div>

<div id="loungeContent">
	<div id="loungeLeft">
		<p><a href="">Start a new lounge</a> or browse through currently active ones:</p>
		
		<div id="currentlyActive">
			<div class="activeLounge">
				<h4 class="loungeName">General Sewing Chat 4-17-2013</h4>
				<p class="loungeDesc">Hang out while working on our projects!</p>
				<p class="loungeDetail">There are 7 people currently in this lounge</p>
			</div>
			<div class="activeLounge">
				<h4 class="loungeName">Swing Dress Sew-along: Meeting 8</h4>
				<p class="loungeDesc">Topstitching midriff and finishing bodice</p>
				<p class="loungeDetail">There are 3 people currently in this lounge</p>
			</div>
			<div class="activeLounge">
				<h4 class="loungeName">I have no idea what I'm doing</h4>
				<p class="loungeDesc">Neither do we! Let's hang out and commiserate together :P</p>
				<p class="loungeDetail">There are 10 people currently in this lounge</p>
			</div>
		
		</div>	
	</div>
	<div id="loungeRight">
		<div id="friends">
			<h3>My friends</h3>
			<ul>
				<li>Currently online<ul>
					<li><span class="online">Kaleb</span></li>
					<li><span class="online">Alice</span></li>
					<li><span class="online">Tristan</span></li></ul>			
				</li>
				<li>Offline<ul>
					<li>Sewphia</li>
					<li>CoolPerson123</li></ul>	
				</li>
			</ul>
		</div>
	</div>
	<div class="clearFloat"></div>
</div>
</body>

</html>