<div id="tabContent">

	<div id="overview">
	
		<div id="overviewText">
			
			<div id="listOfSteps">
				<h3>Steps</h3>
				<ol>
					<li><%= link_to project_path(@project,:part => "step1") do %>Do ABC <span class="ui-icon ui-icon-circle-arrow-e inlineArrow"></span><% end %></li>
					<li><%= link_to project_path(@project,:part => "step2") do %>Do XYZ<span class="ui-icon ui-icon-circle-arrow-e inlineArrow"></span><% end %></li>
					
				</ol>
			</div>
			<%= link_to project_path(@project,:part => "step1"), :class => "noUnderline" do %>
				<div id="begin" class="myButton">Begin!</div>
			<% end %>
			
			
			
		</div>

		<div id="overviewImages">
			<%= image_tag "projects/sundress/greydress.jpg" %>
		</div>
	
		<div class="clearFloat"></div>
	</div>
	
</div>