<div id="tabContent">

	<div id="overview">
	
		<div id="overviewText">
			
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur erat ipsum, tincidunt sed tincidunt ac, condimentum vitae eros. Maecenas egestas ante congue nisl suscipit sodales. In cursus venenatis aliquet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas quis leo diam, in aliquet justo. Etiam convallis felis eget libero tempus et porta turpis pharetra. Donec at placerat sapien.</p>
			<p>Difficulty: &#9733;&#9733;&#9733;&#9733;&#9734;</p>
			
			<div id="materials">
	
				<h3>Fabric</h3>
				<ul>
					 <li>Red</li>
					 <li>Blue</li>
					 <li>Green</li>
				</ul>
				
				<h3>Other supplies</h3>
				<ul>
					<li>Thread</li>
					<li>Needle</li>
					<li>Scissors</li>
					<li>Stuffing</li>
				</ul>		
			</div>
			
			<a id="location" class="noUnderline" href="http://www.yelp.com/search?#find_desc=fabric+store&show_filters=1" target="_blank"><div id="whereToBuy" class="myButton">Find fabric stores near you!</div></a>
			<%= render "comments/comments" %>
			
		</div>

		<div id="overviewImages">
			<%= image_tag "projects/sundress/greydress.jpg" %>
			<p class="whoUploaded">uploaded by Alice</p>
		</div>
	
		<div class="clearFloat"></div>
	</div>
	
</div>