<div class="glossaryEntry draggable" id="glossary-needle-threader" title="Using a needle threader">
	<div id="glossary-needle-threader-tabs">
		<ul>
			<li><a href="#glossary-needle-threader-definition">Needle Threader</a></li>
			<li><a href="#glossary-needle-threader-video">Video</a></li>
			<li class="ui-tabs-close-button"><button id="glossary-needle-threader-close">x</button><li>
		</ul>
		<div class="glossaryContent" id="glossary-needle-threader-definition" height="400">
			<p>A needle threader is a small tool that helps you put thread through the eye of small needles.</p>
			<img src="/sewing_help/needlethreader.jpg"/>
			<p><a href="http://sewing.about.com/od/notions/ss/needlethreader.htm" target="_blank">How to use a needle threader</a></p>
		</div>
		<div class="glossaryContent" id="glossary-needle-threader-video">
			<div class="videoPlaceholder" id="videoPlaceholder-needle-threader">http://www.youtube.com/embed/60yNPG_eAMc</div>
		</div>
	</div>		
</div>