<div class="glossaryEntry draggable" id="glossary-running-stitch" title="Running stitch">
	<div id="glossary-running-stitch-tabs">
		<ul>
			<li><a href="#glossary-running-stitch-definition">Running Stitch</a></li>
			<li><a href="#glossary-running-stitch-video">Video</a></li>
			<li class="ui-tabs-close-button"><button id="glossary-running-stitch-close">x</button><li>
		</ul>
		<div class="glossaryContent" id="glossary-running-stitch-definition">
			<p>A basic hand-sewing stiched, worked by passing the needle in and out of the fabric.</p>
			<%= image_tag "sewing_help/running.png"%>
			<p><a href="http://www.holiday-crafts-and-creations.com/running-stitch.html" target="_blank">More on running stitch</a></p>
		</div>
		<div class="glossaryContent" id="glossary-running-stitch-video">
			<div class="videoPlaceholder" id="videoPlaceholder-running-stitch">http://www.youtube.com/embed/k6657ZhHWgI</div>
		</div>
	</div>
</div>