<div class="glossaryEntry draggable" id="glossary-blanket-stitch" title="Blanket stitch">
	<div id="glossary-blanket-stitch-tabs">
		<ul>
			<li><a href="#glossary-blanket-stitch-definition">Blanket Stitch</a></li>
			<li><a href="#glossary-blanket-stitch-video">Video</a></li>
			<li class="ui-tabs-close-button"><button id="glossary-blanket-stitch-close">x</button><li>
		</ul>
		<div class="glossaryContent" id="glossary-blanket-stitch-definition">
			<p>A decorative stitch visible on both sides, traditionally used to reinforce the edge of thick materials such as blankets.</p>
			<%= image_tag "sewing_help/blanket.png"%>
			<p><a href="http://www.futuregirl.com/craft_blog/2007/9/tutorial-hand-sew-felt.aspx" target="_blank">More on blanket stitch</a></p>
		</div>
		<div class="glossaryContent" id="glossary-blanket-stitch-video">
			<div class="videoPlaceholder" id="videoPlaceholder-blanket-stitch">http://www.youtube.com/embed/eXkSE2TTF4s</div>
		</div>
	</div>
</div>