<div id="navBar" class="primarySiteColor">
	<h3 id="navLeft" class="navText">
		<a class="noUnderline whiteText" href="homePage.html">Sew Together </a>|
		<a class="noUnderline whiteText" href="projectSearch.html"> Project Search </a>|
		<a class="noUnderline whiteText" href="sewingHelp.html"> Sewing Help </a>|
		<a class="noUnderline whiteText" href="lounge.html"> Lounge</a></h3>
	<span id="navRight">
		<h3 id="navRight" class="navText">
			<a class="noUnderline whiteText" href="">About </a>| Log out</h3></span>
</div>
