<!DOCTYPE html>

<!--copied tmeplate from checkers game-->
<html>

<head>
<title>About - Sew Together</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

<!-- Load style sheets -->

<!-- Load any supplemental Javascript libraries here -->
<% content_for :head do %>

<% end %>

</head>

<body>
<%= render 'nav_bar' %>
<h1 id="title">About</h1>
<div id="subtitle">Sew Together is a site made by Xingyi Li, Tristan Daniels and Kaleb Ayalew</div>
Sew Together was built for the clas User Interface Design and Implementation at MIT. <br>
Sew Together is meant to connect people who want to learn to sew to each other.
</body>

</html>