<!DOCTYPE html>

<!--copied tmeplate from checkers game-->
<html>

<head>
<title>Sew Together</title>

<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

<!-- Load style sheets -->
<%= stylesheet_link_tag :dashboard %>

<!-- Load any supplemental Javascript libraries here -->
<% content_for :head do %>
	<%= javascript_include_tag :dashboard %>
<% end %>

</head>

<body>

<%= render 'nav_bar' %>
<h1 id="title">Dashboard</h1>
<div id="dashboard">
<div class="menuElementRow">
<div class = "menuElement MELeft">
<div id="currentProjects" class="menuTitle category"><a class="noUnderline whiteText" href="">Current Projects</a></div>
<ul>
<li><%= link_to "Strawberry Cream Roll", projects_path(:part => "step2") %><div class="progressbar" id="strawberry-cream-roll-progress"></div></li>
</ul>
</div>
<div class = "menuElement MERight">
<div id="pastProjects" class="menuTitle"><a class="noUnderline whiteText" href="">Past Projects</a></div>
<ul>
<li> Bear
<li> Sundress
<li> Easy Tote Bag
</ul>
</div>
<div class="clearFloat"></div>
</div>
<div class="menuElementRow">
<div class = "menuElement MELeft">
<div id="friends" class="menuTitle"><a class="noUnderline whiteText" href="">Friends</a></div>
<ul>
<li> Kaleb
<li> Alice
<li> Tristan
</ul>
</div>
<div class = "menuElement MERight">
<div id="interestingProjects" class="menuTitle"><a class="noUnderline whiteText" href="">Interesting Projects</a></div>
<ul>
<li> Stuffed Penguin
<li> Kitty Ear Hat
</ul>
</div>
<div class="clearFloat"></div>
</div>
</div>
</body>

</html>
