.glossaryTerm{
	font-family:"Tahoma",sans-serif;
	font-size:.8em;
	font-weight:bold;
	color:#7F7EBF;
}

.glossaryTerm:hover{
	color:#557DED;
	cursor:pointer;
}

.glossaryTermFocus{
	color:#557DED;
}

.ui-tabs-nav li.ui-tabs-close-button{
	float:right;
	margin-top:3px;
}

.ui-dialog-titlebar{
	display:none;
}

.ui-widget{
	font-size:.8em;
}

.ui-widget a{
	color:#5655A1;
}

.ui-widget a:visited{
	color:#5655A1;
}

.ui-widget a:hover{
	color:#557DED;
}

.ui-tabs-panel{
	overflow-y:auto;
	overflow-x:auto;
	min-height:300px;
	margin-left:auto;
	margin-right:auto;
}

/* THIS IS ACTUALLY A SHODDY WORKAROUND SOMETHING ELSE T____T */
.ui-dialog {
	background-color:transparent;
	border:none;
}

.glossaryContent{
	padding:2em;
}

.videoPlaceholder{
	height:315px;
	width:420px;
	margin:auto;
}