<div id="tabContent">

	<div id="overview">
	
		<div id="overviewText">
			
			<p>Now you can have your own stuffed pastry! Sadly this one is not at all edible. This is a simple pattern with a lot of room for optional embellishments, if you're feeling adventurous!</p>
			<p>Finished size: About 3 inches in diameter</p>
			
			<div id="materials">
	
		<h3>Fabric</h3>
		<ul>
			 <li>Pink felt, 6" x 4"</li>
			 <li>Brown felt, 12" x  2"</li>
			 <li>White felt, 5" x 2"</li>
		</ul>
		
		<h3>Other supplies</h3>
		<ul>
			<li>Pink and brown thread</li>
			<li>Hand sewing needle</li>
			<li>Scissors</li>
			<li>Stuffing</li>
			<li><a href="template.pdf" target="_blank">Pattern templates</a></li>
		</ul>		
		</div>
		<a class="noUnderline" href="http://www.yelp.com/search?find_desc=&find_loc=Cambridge%2C+MA&ns=1&ls=7cd3f61660d28549#find_desc=fabric+store&show_filters=1" target="_blank"><div id="whereToBuy" class="myButton">Find fabric stores near you!</div></a>
	
			
		</div>

		<div id="overviewImages">
			<%= image_tag "projects/strawberry-cream-roll/roll.JPG"%>
			<p class="whoUploaded">uploaded by Alice</p>
		</div>
	
		<div class="clearFloat"></div>
	</div>
	
</div>