<div id="tabContent" class="step">
	
		<div id="stepText">
			<h3>Step 1 of 5</h3>
			<p>Print and cut out <a href="../resources/template.pdf" target="_blank">pattern template</a>. Transfer pattern by tracing the template <strong>lightly</strong> with a pencil on the appropriately colored felt and then cutting.<p>
			<p>You should have the following:</p>
			<ul>
				<li>1 cake bottom</li>
				<li>2 cake fronts</li>
				<li>1 cake side</li>
				<li>2 cream spirals</li>
			</ul>
			
			<div id="stepNavigation">
				<%= render 'step_navigation', :prev_step => "instructions", :next_step => "step2" %>
			</div>		
			
			<div id="comments">
				<h5>Comments</h5>
				
				<div class="comment">
					<p class="commentText">On the swirls-- stuff shows up on white felt very easily, and sometimes THROUGH the felt depending on how you cut it. </p>
					<p class="commentTExt">Also, instead of tracing two cake fronts and cutting them it would probably be easier to trace one and cut them both together.</p>
					<p class="commentInfo">Posted by Alice on 5/2/2013</p>
				</div>		
				
				
				<div id="newComment" class="myButton">Add new comment</div>
			</div>
			
		</div>
		
		<div id="stepImages">
			<%= image_tag "projects/strawberry-cream-roll/step1.JPG" %>
		</div>
		
		<div class="clearFloat"></div>
</div>