<% if defined?(prev_step)%>
	<%= link_to projects_path(:part => prev_step) do %>
		<span id="stepBack" class="myButton">&lt;&lt; Back</span>
	<% end %>
<% end %>
<% if defined?(next_step)%>
	<%= link_to projects_path(:part => next_step) do %>
		<span id="stepNext" class="myButton">Next &gt;&gt;</span>
	<% end %>
<% end %>
<div class="clearFloat"></div>