<link href='http://fonts.googleapis.com/css?family=Bad+Script|Lustria|Lato:700' rel='stylesheet' type='text/css'>

html {
	background-color:#FFF4C2;
}

body {
	border:1px solid #DDDDDD;
	border-radius:5px;
	padding:2px;
	background-color: #FFFFFF;
	width:85%;
	margin-left:auto;
	margin-right:auto;
}


.bodyText {
	font-family: "Lustria", serif;
	margin-left: 20px;
}

#title {
	font-family: "Lato", sans-serif;
	font-size: 24px;
	color:#5655A1;
	letter-spacing: .1em;
	text-align: right;
	border-bottom:2px solid #DECE81;
}


h2 {
	font-family: "Lato", sans-serif;
	color:#5655A1;
	border-bottom:2px solid #DECE81;
	font-size:1.3em;
}

h3{
	font-family: "Lato", sans-serif;
	color:#5655A1;
	font-size:1.2em;
	margin-bottom:1em;
}


#navBar {
	background-color:#7F7EBF;
	height:50px;
	border-radius:5px;
}

.navText {
	font-size: 20px;
	color: #FFFFFF;
	border-radius:4px;
	padding:.3em;
	margin-top:8px;
	display:inline-block;
}

#navLeft {
	
}

#navRight {
	float:right;
}

.clearFloat {
	clear:both;
}