.thumbnail{
	height:100px;
	width:100px;
	padding:1px;
	border:1px solid gray;
	overflow:hidden;
}

.thumbnail img{
	width:100%;
	height:100%;
}

.searchResultImg{
	float:right;
	margin:.5em;
}

.searchResultText{
	float:left;
	margin:0 1em 1em 1em;
}

.searchResultText p{
	display:table-row;
}

.searchResultName{
	border-bottom: 1px solid #DECE81;
	color:#5655A1;
}

.searchResult:nth-of-type(odd) {
	background-color:#E6E6E6;
}


.resultDetail{
	margin-top:2em;
}

.resultDetail td{
	padding:0 4em 0 0;
	font-size:.9em;
}	

.searchResultLabel{
	font-weight:bold;
	font-family:"Lato",sans-serif;
}