#overview{
	position:relative;
	padding:.5em 2em .5em;
	margin:0;
}

#overviewText{
	float:left;
	width:60%;
}

#overviewImages{
	width:40%;
	float:right;
}
#overviewImages > img{
	display:block;
	padding:2px;
	border:1px gray solid;
	margin: 1em;
	max-width:100%;
	max-height:100%;
	width:100%;
}
