#navigation{
	height:70px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	border:1px gray solid;
}

.ui-tabs-vertical { 
	position: relative; 
	width:80%;
    padding:none; 	
	margin-top:.5em;
	margin-left:auto;
	margin-right:auto;
	background:none;
	border:none;
}

.ui-tabs-vertical .ui-tabs-nav {
	position: absolute;  
    width: 16%; 
	margin:0;
    padding: .2em 0px .2em .2em; 
	border:1px gray solid;
	background-color:#AAAAAA;
}

.ui-tabs-vertical .ui-tabs-nav li {
	list-style:none;
	float:left;
	position:relative;
	right: 1px; 
    width: 100%; 
    border-right: none; 
    border-bottom-width: 1px !important; 
	-moz-border-radius: 4px 0px 0px 4px; 
    -webkit-border-radius: 4px 0px 0px 4px; 
    border-radius: 10px 0px 0px 10px; 
    overflow: hidden; 
	background-color:#DDDDDD;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected, 
.ui-tabs-vertical .ui-tabs-nav li.ui-state-active { 
    border-right: 1px solid transparent; 
} 

.ui-tabs-vertical .ui-tabs-nav li a {
	float: right; 
    width: 100%; 
    text-align: right; 
	padding: .5em 1em .5em;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
	padding-bottom: 0;
	padding-right: .1em;
	border-right-width: 1px; 
	border-right-width: 1px; 
	background-color:white;
}

.ui-tabs-vertical .ui-tabs-panel {
	float: right; 
	width:84%;
	border:1px gray solid;
}