/* most of this is taken from the jQuery UI demo for vertical tabs*/

.ui-tabs-vertical { 
	width: 80%;
	margin-left:auto;
	margin-right:auto;
}

.ui-tabs-vertical .ui-tabs-nav {
	position:absolute;
	padding: .2em .1em .2em .2em;
	float: left; 
	width: 15%; 
}

.ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 100%; 
	border-bottom-width: 1px !important; 
	border-right-width: 0 !important; 
	border-right:none;
	margin: 0 -1px .2em 0; 
}

.ui-tabs-vertical .ui-tabs-nav li a {
	display:block; 
	float:right;
	text-align:right;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
	padding-bottom: 0;
	padding-right: .1em;
	border-right-width: 1px; 
	border-right-width: 1px; 
}

.ui-tabs-vertical .ui-tabs-panel {
	float: right; 
	width:75%;
}